/*  Reset  */

     *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
     }
   




/*  font  */ 

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


img {
    display: flex;
}



/*  flex-row  */

.flex-row {

    display: flex;
    flex-direction: row;
}





/*  flex-column  */

.flex-column {

    display: flex;
    flex-direction: column;
}





   /*  Contenitore Header  */
.header {
 
    width: 100vw;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
}




    /*  header ed elementi header */
 .header-items {
    display: flex;
    padding: 10px;
    height:10vh;
    align-items: center;
  
 }  
 
 



li {
    display: flex;
    margin-left: 25px;
    margin-right: 10px;
    color: rgb(123, 123, 123);
    font-size: 12px;
    
}




.logo {
    display: flex;
    width: 100px;
    height:20px;
}




.img-hero {
    display: flex;
  width: 100%;
  margin-top: 40px;

}

button {
    
    display: flex;
    background-color: blue;
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 2px;
    border:none;
    margin: 20px 0px 20px 0px;
    justify-content: center;
    align-items: center;
}






.button-cta {
    display: flex;
    width: 250px;
    height: 15%;
}




    
h1{
    display: flex;
    font-size: 70px;
}





.text-middle {
    font-size: 35px;
    font-weight: 500;
}


.align-left {
    justify-content: flex-start;
}


label {
   
    font-size: 10px;
    font-weight: 200;
}



    /*  Contenitore Macro background  */

main {
    display: flex;
    width: 100%;
    height: 100%;
}



.container-main {
    width: 100%;
    height: 92%;
    justify-content: flex-start;
    align-items: center;

}




    /*  Contenitore Hero  */

.container-hero {
    width: 100%;
     background-color: aliceblue;
     justify-content: center;
     align-items: center;
     padding-top: 50px;

}




    /*  Contenitore Hero Info + img Column  */
.container-cta {
    width: 65%;
    font-size: 20px;
}





.container-card-hero {
    width: 35%;  
   
}





.container-img-hero {
    width: 65%;  
    
}





.container-price {
    width: 100%;
    height: 100%;
     background-color: rgb(255, 255, 255);
     justify-content: center;
     align-items: center;
}



.container-fatturazione {
display: flex;
width: 60vw;
padding: 20px 20px 20px 20px;
justify-content: space-between;

}




.align-left {
    justify-content: flex-start;
}



    /*  Contenitore Main Row  Titolo + Card column / Titolo + 2 Card Column */
.descrizione-hero {
      display: flex;
      font-size: 13px;
      color: lightslategray;
}






.card-buy {
    display: flex;
    border: 1px solid rgb(199, 199, 199);
    width: 250px;
    height: 800px;
    border-radius: 2px;
   
}








.card-testata {
    display: flex;
    text-align: center;
    border-bottom: 1px solid rgba(199, 199, 199, 0.321);
    height: 50px;
    border-radius: 2px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
   
}





.testata {
    display: flex;
    text-align: center;
    align-items: center;
   
}



.element-end {
    display: flex;
    width: 50%;
    height: 100%;
   
}

.container-end-testata {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    border: 1px solid rgb(187, 187, 187);
}


.card-end {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
    justify-content: space-around;
  
    
    
}

.card-body-end {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(160, 160, 160);
    align-items: center;
    
}

.card-body {
    display: flex;
    padding: 20px;
    width: 100%;
    
}



.container-img {
    width: 60%;
}


.container-card {

    width: 50%;
    justify-content: center;
    padding: 30px;
}

.descrizione {
    display: flex;
    width: 100%;
}

.container-full {
    width: 100%;
    height: 100%;
}


.container {
    width: 100%;
    height: 100%;
    padding: 20px;
    align-items: center;
    
}

.size-middle {
    height: 100%;
    width: 60%;
    align-items: center;
}

.size-big {
    height: 280px;
    width: 60%;
    align-items: center;
}


 





.box-colorati {
    display: flex;
    height: 50%;
    width: 50%;
   
   
}

.box-green {
    background-color: rgb(127, 255, 144);
    border: 12px solid rgb(204, 240, 204);
}


.box-light-blue {
    background-color: #0193CE;
    border: 12px solid #0193CE;
}


.box-light-red {
    background-color: #FF1C1B;
    border: 12px solid #FF1C1B;
}



.box-grey {
    background-color: #F5F5F5;
    border: 12px solid #F5F5F5;
  
}


.box-bordeaux {
    background-color: #600B2B;
    border: 12px solid #600B2B;
}


.box-red {
    background-color: #D5001E;
    border: 12px solid #D5001E;
}


.box-blue {
    background-color: #073781;
    border: 12px solid #073781;
}



.box-azzurro {
    background-color: #B4D0E7;
    border: 12px solid #B4D0E7;
}

.box-yellow {
    background-color: #FFD830;
    border: 12px solid #FFD830;
}



.img-box {
    display: flex;
    margin: auto;
    width: 50%;
    filter: invert(100%);
}

.box-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    padding: 10px;
    align-items: flex-start;
   
}

.img-box-main {
    display: flex;
    width: 50%;
    height: 100%;
    

}



.box-info {
    display: block;
    padding: 0px 0px 0px 10px;
}

.info {
    display: block;
    margin: 20px 0px 40px 0px;
    color: rgb(135, 135, 135);
    
}

.hr-box {
    display: flex;
    width: 80px;
    height: 1px;
    color: lightgray;
    margin: 10px 0px 20px 10px;
    padding: 0;
}


.img-logo {
    display: flex;
    width: 50%;
    color: white;    
}

.size-column-tirth{
    display: flex;
    width: calc(100vw/3);
    margin: 0;
    padding: 0;
    height: 60vh; 
    flex-wrap: wrap;
    
}




.container-operazioni {
    display: flex;
    width: 100%;
}

.titolo {
    display: flex;
    font-size: 30px;
    

}

.img-operazioni {
    width: 100%;
    height: 50%;
  
}


hr {
    width: 20%;
    font-weight: 200;
    color: rgb(197, 197, 197);
    margin-left: 20px;
}

.button-bg-white {
    background-color: white;
    color:rgb(123, 123, 123)
}


.bg-clear-blue {
    background-color: #A6C7E2;
}

summary {
     
     list-style: none;   
     padding: 10px 0px 10px 0px; 
}





.container-accordion {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border-top: 1px solid rgb(215, 215, 215);
    border-bottom: 1px solid rgb(215, 215, 215);
    padding: 20px 0px 20px 0px;
   
}

.margin-bottom {
    margin-bottom: 40px;
}

.column-size-big {
    width: 80%;
}

.column-size-small {
    width: 20%;
    padding: 10px 40px 10px 0px; 
    align-items: flex-end;

}


footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: black;
    height: 400px;
    justify-content: center;
    
}



.cont-footer {
    width: 80%;
    justify-content: space-between;
    padding: 50px 100px 50px 100px;
    display: flex;
    
}


.cont-items-footer {
    width: calc(100%/5);
    height:100%;
    align-content: flex-start;
    
}


ul {
    display: flex;
    flex-direction: column;
   
    
}

.title-li {
    display: flex;
    color: white;
    margin-bottom: 20px;
    font-size: 25px;
}

.text-footer {
    display: flex;
    color: white;
    margin-bottom: 10px;
    font-size: 13px;
}

hr {
    width: 50%;
    color: white;
 display: flex;
    margin-top: 80px;
    
    
}



.translate {
    display: flex;
    color: rgb(164, 164, 164);
    width: 100%;
    padding-left: 20px;
    margin: 20px 0px 0px 0px;
}



    /*  Contenitore Img +  Card Columm */


    /*  Contenitore Box-Color  */

    
    /*  Contenitore Row CTA */



    /*  Contenitore Column Accordion */



        
    /*  Footer */